.jws_wishlist {
        > .jws-wishlist-nav a {
        position:relative;
        display: block;
         .wishlist_icon { 
              display: inline-block;
              vertical-align: bottom;
              position: relative;
              font-size: 23px;
              margin-right: 3px;
         }
        .wishlist_text {
            font-size: 14px;
            display: inline-block;
            vertical-align: bottom;
            line-height: 11px;
            letter-spacing: 0.5px;
        }
        .jws_wishlist_count {
                .blockUI {
                    display:none !important;
                }
            width: 15px;
            height: 15px;
            line-height: 15px;
            display: block;
            text-align: center;
            font-size: 12px;
            -webkit-border-radius: 100%;
            -ms-border-radius: 100%;
            -moz-border-radius: 100%;
            -o-border-radius: 100%;
            border-radius: 100%;
            top: -4px;
            right: -9px;
            position: absolute;
            background: var(--main);
            color: var(--light);
        }
       } 
}
