.jws-post-readmore:hover {
    span {
        animation: bounceAlpha 0.7s both;
        -webkit-animation: bounceAlpha 0.7s both;
    }
}
.jws_blog_item {
     margin-bottom: 50px;  
}
.jws-blog-element {
  .jws_blog_item.true {
    .jws_post_image {
        width: 412px;
        display: inline-block;
        vertical-align: middle;
    }
   .jws_post_content {
      width: ~"calc(100% - 417px)"; 
      display: inline-block;
      vertical-align: middle;
      padding: 0 0 0 20px !important; 
      .entry-title {
        font-size:28px !important;
        line-height: 32px !important; 
      } 
    } 
  }  
  .jws_post_image {
     overflow: hidden;
     position: relative;
     .jws-post-gallery {
        .jws-post-gallery-item {
         overflow: hidden;   
        }
        .jws-carousel-btn {
            position: absolute;
            z-index: 1;
            top: 50%;
            width: 60px;
            height: 60px;
            margin-top: -30px;
            border: 1px solid #ffffff;
            line-height: 60px;
            color: #ffffff;
            border-radius: 100%;
            font-size: 18px;
            cursor: pointer;
            text-align: center;
            &.prev-item { 
              left: 30px;  
              transform: rotate(-180deg);
            }
            &.next-item {
              right: 30px;  
            }
        }
     }
     .video_format {
         position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        a {
       display: inline-block;
        position: relative;
        transition: 0s all;
        width: 110px;
        height: 110px;
        line-height: 110px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 100%;
        color: #ffffff;
        font-size: 12px;
        text-align: center;
        &:after {
           position: absolute;
        display: block;
        border-radius: 50%;
        top: -1px;
        left: -1px;
        content: "";
        border: 1px solid #fff;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        -webkit-animation: load-spin 3s infinite linear;
        animation: load-spin 3s infinite linear;
        width: ~"calc(100% + 2px)";
        height: ~"calc(100% + 2px)";
        }
        }
     }
    img {
      width: 100%;
     transition: opacity 0.5s ease,transform 2s cubic-bezier(0,0,.44,1.18),-webkit-transform 2s cubic-bezier(0,0,.44,1.18); 
    }
  }
  .jws_post_wap {
     &:hover {
        .jws_post_image {
            img {
                  transform: scale(1.1);  
            }
        }
     }   
  } 
  &.has-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .post_nav_container {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
      flex: 0 0 36%;
      max-width: 36%;
      .post_nav {
        padding: 0;
        list-style-type: none;
        margin: 0;
        li {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 1px;
          margin: 0px 0px 18px 0px;
          a {
            color: var(--heading);
            position: relative;
          }
        }
      }
    }
    .blog_content {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 64%;
      flex: 0 0 64%;
      max-width: 64%;
    }
  }
  .jws_blog_slider {
    &.row {
      .jws_blog_item {
        padding: 0 15px;
      }
    }
  }
.jws_blog_layout3 {
   .jws_post_wap {
     .jws_post_image {
        width: 90px;
        display: inline-block;
        vertical-align: middle;
     }
     .jws_post_content {
        width: ~"calc(100% - 95px)";
        display: inline-block;
        vertical-align: middle;
        padding-left: 23px;
     }
   } 
} 

.jws_post_readmore {
    padding-bottom: 2px;
    display: inline-block;
    margin-bottom: 1px;
    position: relative;
    &:before , &:after {
        content: "";
        height: 1px;
        background: var(--heading);
        bottom: 0;
        position: absolute;
        transition: 0.3s all;  
    }
    &:before {
       width: 100%;
       right: 0;  
       transition-delay: 0.3s;
    }
    &:after {
        width: 0%;
        left: 0; 
    }
    &:hover {
        &:before {
            width:0%;
            transition-delay: 0s;
        }
        &:after {
            width:100%;
            transition-delay: 0.3s;
            background: var(--main);
        }
    }
}
 
.jws_blog_layout2 {
  overflow: hidden;
  .jws_post_content {
    text-align:center;
    padding-top: 30px;
    position: relative;
  }
  .jws_post_excerpt {
    margin-bottom: 5px;
  }

     .post_cat {
        background: var(--heading);
        font-size: 14px;
        padding: 4px 10px;
        display: inline-block;
        position: relative;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -15px);
        position: absolute;
        top: 0;
        a {
            color:#ffffff;
        }
     }

  .jws_post_wap {
      &:hover {
        .jws_post_image {
            img {
                  transform: scale(1.09);  
            }
        }
      }
  }  
}
.jws_blog_layout1 {    
.jws_post_wap {
      .jws_post_content {
        padding-top: 17px;
        .entry-title {
            margin-top: 10px;
            margin-bottom: 15px;
        }
        .separator {
            background: #b1b1b1;
            width: 10px;
            height: 1px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 2px;  
        }
        .post_cat {
            font-size:14px;
            line-height: 19.6px;
            color:#757575;
            a{
               color:#757575;
               &:hover {
                color:var(--main);
              }
            }
        }
  
        .entry-date {
            font-size:14px;
            a {
              color:#757575;
              &:hover {
                color:var(--main);
              }
            }
        }
        .jws_post_excerpt {
               margin-bottom: 11px; 
        }
      }
    }
  }
}
.jws_pagination {
  .jws-load-more {
    background: var(--btn-bgcolor);
    color: #ffffff;
    padding: 13px 40px;
    display: inline-block;
    .has-loading {
        transition:0.3s all;
    }
    &.loading {
       .has-loading {
        opacity:0;
       } 
    }
    &:hover {
      background: var(--btn-bgcolor2);
    }
  }
    .loader {
          position: absolute;
            margin: 0 auto;
            width: 30px;
            height: 30px;
            top: 50%;
            left: 50%;
            margin-left: -15px;
            margin-top: -15px;
          &:before {
            content: '';
            display: block;
            padding-top: 100%;
          }
          .circular {
              animation: rotatekey 2s linear infinite;
              height: 100%;
              transform-origin: center center;
              width: 100%;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
           }
           .path {
              stroke-dasharray: 1, 200;
              stroke-dashoffset: 0;
              animation: dash 1.5s ease-in-out infinite;
              stroke: #ffffff;
              stroke-linecap: round;
            }
    }
}

.jws_post_quote {
    background: #F6F2F0;
    padding-top: 64px;
    padding-bottom: 56px;
    position: relative;
    &:before {
        content:url('../assets/image/quote_ring.png'); 
        position: absolute;
        bottom: 8%;
        left: 14%;
    }
     &:after {
        content:url('../assets/image/quote_nake.png'); 
        position: absolute;
        top: 0;
        right: 40px;
    }
    .jws_quote_excerpt{
        color: var(--main);
        line-height: 38px;
        max-width: 763px;
        margin: 0 auto;
        margin-bottom: 23px;
    }
    .quote_name {
        font-size: 14px;
        color: var(--third);  
    }
    .quote_icon {
        background-image: url(../assets/image/quote-icon.png);
        display: block;
        width: 109px;
        height: 78px;
        position: absolute;
        left: 50%;
        top: 50%; 
        margin: -39px 0 0 -54px;
    }
}

.jws_post_link {
    background: #F6F2F0;
    padding-top: 48px;
    padding-bottom: 68px;
    position: relative;
    margin-bottom: 40px;
    &:before {
        content:url('../assets/image/ring.png'); 
        position: absolute;
        bottom: -40px;
        left: 50%;
        margin-left: -82px;
    }
     &:after {
        content:url('../assets/image/quote_nake.png'); 
        position: absolute;
        top: 0;
        right: 40px;
    }
    .link_name {
       a {
         color: var(--main);
       } 
    }
    .link_icon {
        background-image: url(../assets/image/Link.png);
        display: block;
        width: 73px;
        height: 78px;
        position: absolute;
        left: 50%;
        top: 43%;
        margin: -39px 0 0 -54px;
    }
}

.elementor-nav-slider-align-center {
   .custom_navs {
        margin:0 auto;
   }  
}

.elementor-nav-slider-align-right {
   .custom_navs {
        margin-left:auto;
   }  
}

@media(max-width:767px) {
  .jws-blog-element .jws_blog_item.true {
    .jws_post_image {
        width: 100%;    
    }
    .jws_post_content {
        width: 100%;   
        padding: 17px 0 0 0px !important;
    }
  }
}