.jws-cars-search {
    transition: 0.3s all;
    .select2-container {
     width: 100% !important;   
    }
    .select2-selection {
       border: none !important;
    height: 50px !important;
    background: var(--light) !important;
    width: 100%;
    padding: 0 20px;
    border-radius: 0;
    font-size: 15px;
    outline: none;
    padding-right: 34px; 
    .select2-selection__rendered {
        line-height:50px;
        padding: 0;
        color: var(--body);
    }
    .select2-selection__arrow {
           height: 50px; 
           top: 0;
           b {
                margin-top: -12px !important;
                margin-left: -14px !important;
           }
    }
  }  
  .car-label {
    color:var(--light);
    font-weight: 500;
        margin-bottom: 8px;
        display: block;
  }
  .selected-box {
    margin-bottom: 15px;
  }
}

.price_slider_wrapper {
    .ui-slider .ui-slider-handle {
        width: 20px;
        height: 20px; 
        top: -9px;
    }
   .amount {
        border: 0;
        pointer-events: none;
        color: var(--light);
        margin-bottom: 28px;
        min-height: auto;
        background: transparent;
        padding: 0; 
   } 
  label {
     color:var(--light);
    font-weight: 500;
        margin-bottom: 5px;
        display: block;
     
   }
   .ui-slider .ui-slider-range {
          background: var(--third);  
   }
   .ui-slider .ui-slider-handle {
     background: var(--third); 
   }
}

.cfb-submit-btn {
    background: var(--heading);
    width: 100%;
    display: block;
    text-align: center;
    color: var(--light);
    padding: 16px 15px;   
    margin-top: 37px; 
    cursor: pointer;
}